
<h3>Post a Comment</h3>

<%= form_for @comment do |f| %>

  <article class="media">
  <figure class="media-left">
      <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
  </figure>
  <div class="media-content">
      <div class="field">
      <p class="control">
          <%= f.text_area :body, class: "textarea", placeholder: "Comment for this post..." %>   
      </p>
      </div>
      <nav class="level">
      <div class="level-left">
          <div class="level-item">
              <%= f.hidden_field :post_id, :value => id %>
              <%= f.submit "Submit", class: "button is-info" %>
          </div>
      </div>
      </nav>
  </div>
  </article>

<% end %>


